.container {
  padding: 0 2rem;
}

.main {
  max-width: 1200px;
  padding: 2rem 0;
  margin: 0 auto;
}

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  h1 {
    margin: 0;
  }

}